# Import Pandas

In [47]:
import pandas as pd

# Creating Empty Series

In [48]:
empty_series=pd.Series()
print(empty_series)
empty_series

Series([], dtype: float64)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8828\1017687716.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series=pd.Series()

Series([], dtype: float64)

# Creating series from the list

In [49]:
num_list=[23,34,53,56,97,90]
list_series=pd.Series(num_list)
list_series

0    23
1    34
2    53
3    56
4    97
5    90
dtype: int64

In [50]:
type(list_series)

pandas.core.series.Series

# Creating Empty DataFrame

In [51]:
empty_dataframe=pd.DataFrame()
print(empty_dataframe)
empty_dataframe

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [52]:
type(empty_dataframe)

pandas.core.frame.DataFrame

In [53]:
# Creating dataframe from list dictionary

list_dic=[{'name':'Fatema','department':'data science'},
         {'name':'hema','department':'Seo'},
         {'name':'Nusrat','department':'Mother'},
         {'name':'Aysha','department':'unknown'},
         {'name':'tamanna','department':'analyst'},
         {'name':'Smrity','department':'agriculture'}]
df_dic=pd.DataFrame(list_dic)
df_dic

      name    department
0   Fatema  data science
1     hema           Seo
2   Nusrat        Mother
3    Aysha       unknown
4  tamanna       analyst
5   Smrity   agriculture

In [54]:
dic_list={'Department':['Data Science','Data analytics','Data Engineer','Web Developer','sales','Coustomer'],
         'Num Of PErson':[30,20,34,40,54,98]}
dic_list

{'Department': ['Data Science',
  'Data analytics',
  'Data Engineer',
  'Web Developer',
  'sales',
  'Coustomer'],
 'Num Of PErson': [30, 20, 34, 40, 54, 98]}

In [55]:
df_dic_list=pd.DataFrame(dic_list)
df_dic_list

       Department  Num Of PErson
0    Data Science             30
1  Data analytics             20
2   Data Engineer             34
3   Web Developer             40
4           sales             54
5       Coustomer             98

#  Pandas Basic Fanctionality

# Load CSV or EXCEL File

In [56]:
df=pd.read_csv(r"C:\Users\ASUS\Downloads\hotel_bookings 2.csv")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

# Head and Tail Function

In [57]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/7/2015

In [58]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [59]:
df.head(14)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,3/7/2015
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,3/7/2015
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,6/5/2015
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,22/4/2015
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,23/6/2015
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,5/7/2015
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/7/2015
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,5/7/2015

In [60]:
df.tail(8)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,5/9/2017
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,No Deposit,42.0,NaN,0,Transient,87.60,0,0,Check-Out,6/9/2017
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,6/9/2017
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

#  Shape Function()

In [61]:
df.shape

(119390, 32)

In [62]:
# Size Function

df.size

3820480

In [63]:
# Columns() function

df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [64]:
# Index of data

df.index

RangeIndex(start=0, stop=119390, step=1)

In [65]:
# Data Types

In [66]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [67]:
df.isnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [68]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

# Selection

In [69]:
df['deposit_type']

0         No Deposit
1         No Deposit
2         No Deposit
3         No Deposit
4         No Deposit
             ...
119385    No Deposit
119386    No Deposit
119387    No Deposit
119388    No Deposit
119389    No Deposit
Name: deposit_type, Length: 119390, dtype: object

In [70]:
df[['deposit_type','children','reserved_room_type']]

       deposit_type  children reserved_room_type
0        No Deposit       0.0                  C
1        No Deposit       0.0                  C
2        No Deposit       0.0                  A
3        No Deposit       0.0                  A
4        No Deposit       0.0                  A
...             ...       ...                ...
119385   No Deposit       0.0                  A
119386   No Deposit       0.0                  E
119387   No Deposit       0.0                  D
119388   No Deposit       0.0                  A
119389   No Deposit       0.0                  A

[119390 rows x 3 columns]

In [71]:
# Loc and iloc Method

df.iloc[10:20]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,23/6/2015
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,5/7/2015
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/7/2015
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,5/7/2015
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,5/7/2015
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,5/7/2015
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,5/7/2015
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2/7/2015
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2/7/2015
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,5/7/2015

In [72]:
df.iloc[119300:]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119300,City Hotel,0,43,2017,August,35,29,0,4,2,...,No Deposit,9.0,NaN,0,Transient,137.25,0,1,Check-Out,2/9/2017
119301,City Hotel,0,130,2017,August,35,28,1,4,2,...,No Deposit,9.0,NaN,0,Transient,188.00,0,0,Check-Out,2/9/2017
119302,City Hotel,0,217,2017,August,35,28,1,4,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2/9/2017
119303,City Hotel,0,198,2017,August,35,31,0,2,2,...,No Deposit,9.0,NaN,0,Transient,99.00,0,0,Check-Out,2/9/2017
119304,City Hotel,0,4,2017,August,35,30,0,3,1,...,No Deposit,14.0,NaN,0,Transient,140.70,0,0,Check-Out,2/9/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [73]:
df.iloc[10:20,0]

10    Resort Hotel
11    Resort Hotel
12    Resort Hotel
13    Resort Hotel
14    Resort Hotel
15    Resort Hotel
16    Resort Hotel
17    Resort Hotel
18    Resort Hotel
19    Resort Hotel
Name: hotel, dtype: object

In [74]:
df.iloc[1:10,2:5]

   lead_time  arrival_date_year arrival_date_month
1        737               2015               July
2          7               2015               July
3         13               2015               July
4         14               2015               July
5         14               2015               July
6          0               2015               July
7          9               2015               July
8         85               2015               July
9         75               2015               July

In [75]:
df.iloc[25:30,[5,3,8,1]]

,arrival_date_week_number,arrival_date_year,stays_in_week_nights,is_canceled
25,27,2015,5,0
26,27,2015,5,0
27,27,2015,5,1
28,27,2015,5,0
29,27,2015,5,0

In [76]:
df.set_index("arrival_date_month" , inplace=True)

In [77]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
July,Resort Hotel,0,342,2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
July,Resort Hotel,0,737,2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
July,Resort Hotel,0,7,2015,27,1,0,1,1,0.0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
July,Resort Hotel,0,13,2015,27,1,0,1,1,0.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
July,Resort Hotel,0,14,2015,27,1,0,2,2,0.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,30,2,5,2,0.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,31,2,5,3,0.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,31,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,31,2,5,2,0.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,29,2,7,2,0.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [78]:
df.loc['June']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
June,Resort Hotel,1,7,2016,23,1,0,1,1,0.0,...,No Deposit,NaN,83.0,0,Transient,57.00,0,0,Canceled,31/5/2016
June,Resort Hotel,1,179,2016,23,1,0,1,2,0.0,...,No Deposit,251.0,NaN,0,Transient-Party,78.00,0,0,Canceled,13/5/2016
June,Resort Hotel,1,2,2016,23,1,0,1,1,0.0,...,No Deposit,NaN,83.0,0,Transient,57.00,0,0,Canceled,1/6/2016
June,Resort Hotel,1,215,2016,23,1,0,3,2,0.0,...,Non Refund,96.0,NaN,0,Transient,110.00,0,0,Canceled,1/12/2015
June,Resort Hotel,1,215,2016,23,1,0,3,2,0.0,...,Non Refund,96.0,NaN,0,Transient,110.00,0,0,Canceled,1/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
June,City Hotel,0,43,2017,26,29,2,5,3,0.0,...,No Deposit,NaN,NaN,0,Transient,154.93,0,0,Check-Out,6/7/2017
June,City Hotel,0,245,2017,26,29,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,91.93,0,1,Check-Out,6/7/2017
June,City Hotel,0,175,2017,26,29,2,5,2,0.0,...,No Deposit,14.0,NaN,0,Transient,91.93,0,0,Check-Out,6/7/2017
June,City Hotel,0,184,2017,26,30,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,108.51,0,2,Check-Out,7/7/2017
June,City Hotel,0,153,2017,26,30,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,153.51,0,0,Check-Out,7/7/2017

In [79]:
df.loc['January','arrival_date_year']

arrival_date_month
January    2016
January    2016
January    2016
January    2016
January    2016
           ...
January    2017
January    2017
January    2017
January    2017
January    2017
Name: arrival_date_year, Length: 5929, dtype: int64

# Renaming Columns And INdex

In [80]:
#renaming columns

df.rename(columns={'arrival_date_year':'arrival date of year'},inplace=True)
df

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
July,Resort Hotel,0,342,2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
July,Resort Hotel,0,737,2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
July,Resort Hotel,0,7,2015,27,1,0,1,1,0.0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
July,Resort Hotel,0,13,2015,27,1,0,1,1,0.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
July,Resort Hotel,0,14,2015,27,1,0,2,2,0.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,30,2,5,2,0.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,31,2,5,3,0.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,31,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,31,2,5,2,0.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,29,2,7,2,0.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [81]:
df.rename(index={'July':'7th month'},inplace=True)

In [82]:
df

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
7th month,Resort Hotel,0,342,2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,737,2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,7,2015,27,1,0,1,1,0.0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,13,2015,27,1,0,1,1,0.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,14,2015,27,1,0,2,2,0.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,30,2,5,2,0.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,31,2,5,3,0.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,31,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,31,2,5,2,0.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,29,2,7,2,0.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

# Deletin Rows And Columns

In [83]:
del df['arrival_date_day_of_month']

In [84]:
df

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
7th month,Resort Hotel,0,342,2015,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,737,2015,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,7,2015,27,0,1,1,0.0,0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,13,2015,27,0,1,1,0.0,0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,14,2015,27,0,2,2,0.0,0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,2,5,2,0.0,0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,2,5,3,0.0,0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,2,5,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,2,5,2,0.0,0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,2,7,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [85]:
df.drop('adults', axis=1)

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,children,babies,meal,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
7th month,Resort Hotel,0,342,2015,27,0,0,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,737,2015,27,0,0,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,7,2015,27,0,1,0.0,0,BB,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,13,2015,27,0,1,0.0,0,BB,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,14,2015,27,0,2,0.0,0,BB,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,2,5,0.0,0,BB,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,2,5,0.0,0,BB,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,2,5,0.0,0,BB,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,2,5,0.0,0,BB,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,2,7,0.0,0,HB,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [86]:
df.drop(['children','babies','meal'], axis=1)

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,country,market_segment,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
7th month,Resort Hotel,0,342,2015,27,0,0,2,PRT,Direct,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,737,2015,27,0,0,2,PRT,Direct,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,7,2015,27,0,1,1,GBR,Direct,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,13,2015,27,0,1,1,GBR,Corporate,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,14,2015,27,0,2,2,GBR,Online TA,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,2,5,2,BEL,Offline TA/TO,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,2,5,3,FRA,Online TA,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,2,5,2,DEU,Online TA,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,2,5,2,GBR,Online TA,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,2,7,2,DEU,Online TA,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [87]:
df

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
7th month,Resort Hotel,0,342,2015,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,737,2015,27,0,0,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015
7th month,Resort Hotel,0,7,2015,27,0,1,1,0.0,0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,13,2015,27,0,1,1,0.0,0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015
7th month,Resort Hotel,0,14,2015,27,0,2,2,0.0,0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,2,5,2,0.0,0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,2,5,3,0.0,0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,2,5,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,2,5,2,0.0,0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,2,7,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

In [88]:
df.drop('7th month', axis=0)

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
August,Resort Hotel,0,129,2015,31,1,1,2,0.0,0,...,No Deposit,67.0,NaN,0,Transient,96.30,0,0,Check-Out,3/8/2015
August,Resort Hotel,1,84,2015,31,2,1,2,0.0,0,...,No Deposit,175.0,NaN,0,Transient-Party,118.06,0,0,Canceled,12/5/2015
August,Resort Hotel,1,84,2015,31,2,1,2,0.0,0,...,No Deposit,175.0,NaN,0,Transient-Party,118.06,0,0,Canceled,12/5/2015
August,Resort Hotel,1,89,2015,31,0,1,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient,154.00,0,0,Canceled,4/5/2015
August,Resort Hotel,1,10,2015,31,0,1,2,0.0,0,...,No Deposit,NaN,NaN,0,Transient-Party,202.00,0,0,Canceled,29/7/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,2,5,2,0.0,0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017
August,City Hotel,0,102,2017,35,2,5,3,0.0,0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017
August,City Hotel,0,34,2017,35,2,5,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017
August,City Hotel,0,109,2017,35,2,5,2,0.0,0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017
August,City Hotel,0,205,2017,35,2,7,2,0.0,0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017

# Adding new columns and rows

In [89]:
df['stay time']=100

In [90]:
df

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,stay time
arrival_date_month,,,,,,,,,,,,,,,,,,,,,
7th month,Resort Hotel,0,342,2015,27,0,0,2,0.0,0,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015,100
7th month,Resort Hotel,0,737,2015,27,0,0,2,0.0,0,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/7/2015,100
7th month,Resort Hotel,0,7,2015,27,0,1,1,0.0,0,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015,100
7th month,Resort Hotel,0,13,2015,27,0,1,1,0.0,0,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/7/2015,100
7th month,Resort Hotel,0,14,2015,27,0,2,2,0.0,0,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/7/2015,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
August,City Hotel,0,23,2017,35,2,5,2,0.0,0,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/9/2017,100
August,City Hotel,0,102,2017,35,2,5,3,0.0,0,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/9/2017,100
August,City Hotel,0,34,2017,35,2,5,2,0.0,0,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/9/2017,100
August,City Hotel,0,109,2017,35,2,5,2,0.0,0,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/9/2017,100
August,City Hotel,0,205,2017,35,2,7,2,0.0,0,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/9/2017,100

In [91]:
new_data={'hotel':['Dhaka Hotel','Unique Hotel'],
         'lead_time':[77,234],
         'arrival date of year':[2018,2017]}

In [92]:
new_df=pd.DataFrame(new_data)
new_data

{'hotel': ['Dhaka Hotel', 'Unique Hotel'],
 'lead_time': [77, 234],
 'arrival date of year': [2018, 2017]}

In [95]:
df=df.append(new_df)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8828\2496147409.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(new_df)

In [96]:
df.index=range(len(df))

In [97]:
df

,hotel,is_canceled,lead_time,arrival date of year,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,stay time
0,Resort Hotel,0.0,342,2015,27.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,1/7/2015,100.0
1,Resort Hotel,0.0,737,2015,27.0,0.0,0.0,2.0,0.0,0.0,...,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,1/7/2015,100.0
2,Resort Hotel,0.0,7,2015,27.0,0.0,1.0,1.0,0.0,0.0,...,NaN,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2/7/2015,100.0
3,Resort Hotel,0.0,13,2015,27.0,0.0,1.0,1.0,0.0,0.0,...,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2/7/2015,100.0
4,Resort Hotel,0.0,14,2015,27.0,0.0,2.0,2.0,0.0,0.0,...,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,3/7/2015,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119387,City Hotel,0.0,34,2017,35.0,2.0,5.0,2.0,0.0,0.0,...,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,7/9/2017,100.0
119388,City Hotel,0.0,109,2017,35.0,2.0,5.0,2.0,0.0,0.0,...,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,7/9/2017,100.0
119389,City Hotel,0.0,205,2017,35.0,2.0,7.0,2.0,0.0,0.0,...,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,7/9/2017,100.0
119390,Dhaka Hotel,NaN,77,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119391,Unique Hotel,NaN,234,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN