#  Pandas fillna() Method

In [77]:
import pandas as pd

In [78]:
df=pd.read_csv("C:\\Users\\ASUS\\Downloads\\Fortune_10.csv")
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [79]:
df=pd.read_csv("C:\\Users\\ASUS\\Downloads\\Fortune_10.csv",na_values={'Industry':'not available','Growth':'no value'})
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,NaN
4,5.0,NaN,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,NaN
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [80]:
df.fillna(0)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,0.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,0.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,0,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,0
4,5.0,0.0,Techdrill,0,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,0
5,6.0,0.0,Techline,0,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,0
6,7.0,28.0,Cityace,0,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,0.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,0.0,0.0,0,0,0.0,0,0,0.0,0
9,10.0,0.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [81]:
df.fillna(2)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,2.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,2,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,2
4,5.0,2.0,Techdrill,2,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,2
5,6.0,2.0,Techline,2,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,2
6,7.0,28.0,Cityace,2,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,2.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,2.0,2.0,2,2,2.0,2,2,2.0,2
9,10.0,2.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [82]:
df.fillna({'Data':'none','Growth':5,'Industry':0})

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,none,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,none,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,0,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,5
4,5.0,none,Techdrill,0,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,5
5,6.0,none,Techline,0,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,5
6,7.0,28.0,Cityace,0,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,none,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,none,NaN,0,NaN,NaN,NaN,NaN,5
9,10.0,none,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [83]:
df.fillna(method='ffill')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
4,5.0,23.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,7%
5,6.0,23.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,7%
6,7.0,28.0,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,28.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,8.0,28.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,28.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [84]:
df.fillna(method='bfill')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,20.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,20.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,6%
4,5.0,28.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,6%
5,6.0,28.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,6%
6,7.0,28.0,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [85]:
df.fillna(axis=0,method='bfill')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,20.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,20.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,6%
4,5.0,28.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,6%
5,6.0,28.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,6%
6,7.0,28.0,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [86]:
df.fillna(axis=1,method='ffill')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Mattouch,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,6597557.0
4,5.0,5.0,Techdrill,Techdrill,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,3138627.0
5,6.0,6.0,Techline,Techline,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,8427816.0
6,7.0,28.0,Cityace,Cityace,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [87]:
df.fillna(axis=1,method='pad')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Mattouch,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,6597557.0
4,5.0,5.0,Techdrill,Techdrill,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,3138627.0
5,6.0,6.0,Techline,Techline,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,8427816.0
6,7.0,28.0,Cityace,Cityace,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [88]:
df.fillna(5,limit=1)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,5.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,5,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,5
4,5.0,NaN,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,NaN
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,5.0,NaN,5,NaN,5.0,5,5,5.0,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [89]:
df.fillna(5,limit=3)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,5.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,5.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,5,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,5
4,5.0,5.0,Techdrill,5,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,5
5,6.0,NaN,Techline,5,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,5
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,5.0,NaN,5,NaN,5.0,5,5,5.0,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [90]:
df.fillna(5 , inplace=True)
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,5.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,5.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,5,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,5
4,5.0,5.0,Techdrill,5,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,5
5,6.0,5.0,Techline,5,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,5
6,7.0,28.0,Cityace,5,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,5.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,5.0,5.0,5,5,5.0,5,5,5.0,5
9,10.0,5.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [95]:
df.fillna(3, inplace=True)
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,3.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,3.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,3.0,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,3
5,6.0,3.0,Techline,3,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,3,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,3.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,3.0,3.0,3,3,3.0,3,3,3.0,3
9,10.0,3.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [96]:
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,3.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,3.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,3.0,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,3
5,6.0,3.0,Techline,3,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,3,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,3.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,3.0,3.0,3,3,3.0,3,3,3.0,3
9,10.0,3.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [98]:
df.fillna(5, inplace=True)
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,5.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,5.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,5.0,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,5
5,6.0,5.0,Techline,5,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,5,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,5.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,5.0,5.0,5,5,5.0,5,5,5.0,5
9,10.0,5.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [99]:
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,5.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,5.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,5.0,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,5
5,6.0,5.0,Techline,5,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,5,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,5.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,5.0,5.0,5,5,5.0,5,5,5.0,5
9,10.0,5.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%