# Pandas replace() Function

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\ASUS\\Downloads\\Fortune_10.csv")
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [22]:
df.fillna(method='ffill').replace(to_replace=['not available','no value'],value=['Health','10%'])

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,10%
4,5.0,23.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,10%
5,6.0,23.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,10%
6,7.0,28.0,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,28.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,8.0,28.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,28.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [23]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20])

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,11.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,12.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,13.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,14.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,15.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,16.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,17.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,18.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [24]:
df.fillna('no value').replace({'Industry':'not available','Growth':'no value'},'none')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,no value,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no value,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,none,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,none
4,5.0,no value,Techdrill,none,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,none
5,6.0,no value,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,none
6,7.0,28.0,Cityace,no value,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no value,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,no value,no value,no value,no value,no value,no value,no value,no value,none
9,10.0,no value,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [25]:
df.fillna('no value').replace('no value','none')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,none,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,none,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,none
4,5.0,none,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,none
5,6.0,none,Techline,none,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,none
6,7.0,28.0,Cityace,none,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,none,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,none,none,none,none,none,none,none,none,none
9,10.0,none,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [28]:
df.fillna('none').replace('[A-Za-z]',0,regex=True)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,0.0,0,0,2009.0,"$11,757,018",0,5274553.0,30%
1,2.0,0.0,0,0,2010.0,"$12,329,371",0,11412916.0,20%
2,3.0,20.0,0,0,2012.0,"$10,597,009",0,3005820.0,7%
3,4.0,23.0,0,0,2013.0,"$14,026,934",0,6597557.0,0
4,5.0,0.0,0,0,2009.0,"$10,573,990",0,3138627.0,0
5,6.0,0.0,0,0,2006.0,"$13,898,119",0,8427816.0,0
6,7.0,28.0,0,0,2010.0,"$9,254,614",0,3005116.0,6%
7,8.0,0.0,0,0,2009.0,"$9,451,943",0,5573830.0,4%
8,0.0,0.0,0,0,0.0,0,0,0.0,0
9,10.0,0.0,0,0,2011.0,"$11,088,336",0,5453060.0,7%

In [30]:
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [29]:
df.fillna('none').replace({'Industry':'[A-Za-z]'},0,regex=True)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,none,Lamtone,0,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,none,Stripfind,0,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,0,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,0,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,none,Techdrill,0,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,none
5,6.0,none,Techline,0,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,0,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,none,Kayelectronics,0,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,none,none,none,0,none,none,none,none,none
9,10.0,none,Trantraxlax,0,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [31]:
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [33]:
df.replace('not available',method='pad')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [34]:
df.replace('not available',method='bfill')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [36]:
df.replace('not available',method='ffill',limit=1)

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [39]:
df.fillna('none')

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,none,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,none,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,none,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,none
5,6.0,none,Techline,none,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,none,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,none,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,none,none,none,none,none,none,none,none,none
9,10.0,none,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [38]:
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,NaN,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,NaN,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,NaN,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,NaN
5,6.0,NaN,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,NaN,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,NaN,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [42]:
df.fillna('none',inplace=True)

In [41]:
df

,ID,Data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,none,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,none,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,20.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,23.0,Mattouch,not available,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,no value
4,5.0,none,Techdrill,not available,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,none
5,6.0,none,Techline,none,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,no value
6,7.0,28.0,Cityace,none,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,none,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,none,none,none,none,none,none,none,none,none
9,10.0,none,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%